	
	ul .nested {
	  display: none;
	  position: relative;
	}

	ul.root {
		display: block;
		list-style-type: none; 
	}

	ul.nested:before {
	  background-color: lightgray;
	  width: 2px;
	  content: '';
	  position: absolute;
	  top: -8px;
	  bottom: 0px;
	  left: 30px;
	  /* Set in JS */
	  height: var(--ul-before-margin, auto);
	}

	@media screen and (min-width: 1280px) {
	  /* Adjust the top position for smaller screens */
	  ul.nested:before {
	  	left: 30px;
	  	height: calc(var(--ul-before-margin) - 1.5px);
	  }
	}

	@media screen and (max-width: 570px) {
	  /* Adjust the top position for smaller screens */
	  ul.nested:before {
	  	left: 28px;
	  	height: calc(var(--ul-before-margin) + 1.6px);
	  }
	}

	@media screen and (max-width: 340px) {
	  /* Adjust the top position for smaller screens */
	  ul.nested:before {
	  	left: 28px;
	  	height: calc(var(--ul-before-margin) + 1.6px);
	  }
	}

	ul .active {
	  display: block;
	}

	li.tree::before {
	  content: '-▶';
	  position: absolute;
	  left: -20px;
	  color: lightgray;
	  top: 50%; /* Position at 50% height of li */
      transform: translateY(-50%); /* Center the pseudo-element vertically */
	}

	.collapsible {
	  background-color: transparent;
	  color: #444;
	  cursor: pointer;
	  padding: 10px;
	  border: none;
	  text-align: left;
	  width: auto;
	  outline: none;
	  font-size: 12px;
	  transition: background-color 0.3s;
	  display: inline-block;
  	  align-items: center;
  	  border-radius: 0.25rem;
	}

	.collapsible:hover {
		background-color: #ccc;
	}

	.collapsible:after {
		content: '\002B';
		color: #777;
		font-weight: bold;
		float: right;
		display: block;
  		text-align: center;
	}

	.collapsible.active:after {
		content: "\2212";
	}

	.collapsible.active {
	  background-color: transparent;
	  color: #444;
	  cursor: pointer;
	  padding: 10px;
	  border: none;
	  text-align: left;
	  width: auto;
	  outline: none;
	  font-size: 12px;
	  transition: background-color 0.3s;
	  display: inline-block;
	  border-radius: 0.25rem;
	}

	.collapsible.active:hover {
		background-color: #ccc;
	}

	li.tree {
		font-size: 14px;
		position: relative;
	}

	li.root {
		font-size: 14px;
		position: relative;
	}

	div.root {
	  display: inline-block;
	  margin: 0.5rem;
	  padding: 0.8rem;
	  border-radius: 0.25rem;
	  color: grey;
	  background-color: #49557960;
	  font-size: 14px;
	}


	ul.nested {
	  list-style-type: none; 
	}

	ul.root > li {
	  margin: 0.5rem;
	  padding: 0.5rem;
	  border-radius: 0.25rem;
	  color: grey;
	}

	ul.nested > li {
	  margin: 0.5rem;
	  padding: 0.5rem;
	  border-radius: 0.25rem;
	  color: grey;
	}

	ul.root > li {
	   background-color: #49557960;
	}

	ul.level-0 > li {
	  background-color: #20529550;
	}

	ul.level-1 > li {
	  background-color: #6D67E450;
	}

	ul.level-2 > li {
	  background-color: #46C2CB50;
	}

	ul.level-3 > li {
	  background-color: #F2F7A180;
	}

	ul.level-4 > li {
	  background-color: #FF6E3160;
	}

	ul.level-5 > li {
	  background-color: #FFCAC890;
	}

	div + ul {
    	margin-top: -5px;
	}

	div.master {
	  text-align: right;
	}

	.tree-right {
	  margin-left: auto;
	}

	div.tree {
	  display: flex;
	  justify-content: space-between;
	}


	/* the below is for the bar that shows when someone scrolls */
	.sticky-bar {
	  position: fixed;
	  top: 0;
	  width: 100%;
	  background-color: #fff;
	  z-index: 2;
  	  transition: opacity 0.3s ease-in-out;
	}

	.bar-hidden {
	  opacity: 0;
	  pointer-events: none;
	}

	.legend {
	  display: flex;
	  justify-content: flex-start;
	  align-items: center;
	  padding: 10px;
	  flex-wrap: wrap;
	  gap: 10px;
	}

	.color {
	  width: 20px;
	  height: 20px;
	  margin-right: 5px;
	  border-radius: 50%;
	}

	.legend span {
	  font-size: 12px;
	  margin-right: 10px;
	  white-space: nowrap;
	  overflow: hidden;
	  text-overflow: ellipsis;
	}

	.legend-item {
	  display: flex;
	  align-items: center;
	  margin-right: 10px;
	}


	.leg-root {
	  background-color: #49557950;
	}

	.leg-0 {
	  background-color: #20529550;
	}

	.leg-1  {
	  background-color: #6D67E450;
	}

	.leg-2  {
	  background-color: #46C2CB60;
	}

	.leg-3  {
	  background-color: #F2F7A180;
	}

	.leg-4 {
	  background-color: #FF6E3160;
	}

	.leg-5  {
	  background-color: #FFCAC890;
	}

	ul.fun-facts {
		margin-top:0;
	}

	p.fun-facts {
		margin-bottom:5px;
	}


